body {
	height: 100vh;
}

.header {
	align-items: center;
}

.btn {
	margin: 0 3%;
}

.btn-success {
	margin: 0 25%;
}

.name,
.points {
	font-size: 1.5em;
}

.pick {
	font-size: 3em;
}

.footer {
	align-items: flex-end;
}
